<div>
  <h2>Weather Search</h2>
  <form (submit)="getWeather()">
    <div class="form-group my-3">
      <input
        type="text"
        [(ngModel)]="city"
        name="city"
        class="form-control"
        placeholder="Enter city name"
      />
    </div>
    <button type="submit" class="btn btn-primary mx-3">Search</button>
  </form>

  <div *ngIf="weather" class="mt-4 info">
    <h3>
      {{ weather.location.name }}
    </h3>
    <p>
      <i class="fa-solid fa-temperature-three-quarters"></i> Temperature:
      {{ weather.current.temp_c }}°C
    </p>
    <p>Humidity: {{ weather.current.humidity }}%</p>
    <p>{{ weather.current.condition.text }}</p>
  </div>
</div>
